<%= form_for(@tour_package, html: {class: 'card'}) do |f| %>
<div class="card-header">
  <h3 class="card-title"><%=t :new_tour_package %></h3>
</div>
<% if @tour_package.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@tour_package.errors.count, "error") %> prohibited this tour_package from being saved:</h2>

  <ul>
    <% @tour_package.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="card-body">
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :title, class: "form-label" %>
        <%= f.text_field :title , class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :days, class: "form-label" %>
        <%= f.number_field :days , class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :nights, class: "form-label" %>
        <%= f.number_field :nights , class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <%= f.label :details, class: "form-label" %>
        <%= f.text_area :details , class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-label"><%=t :required_fields%></div>
  <label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" name="tour_package[father_name_field]" value="1"  <% if @tour_package.father_name_field%>checked=""<%end%>>
    <span class="custom-control-label"><%=t :father_name_field%></span>
  </label>

  <label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" name="tour_package[birthdate_field]" value="1"  <% if @tour_package.birthdate_field%>checked=""<%end%>>
    <span class="custom-control-label"><%=t :birthdate_field%></span>
  </label>

  <label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" name="tour_package[place_of_birth_field]" value="1"  <% if @tour_package.place_of_birth_field%>checked=""<%end%>>
    <span class="custom-control-label"><%=t :place_of_birth_field%></span>
  </label>

  <label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" name="tour_package[passport_no_field]" value="1"  <% if @tour_package.passport_no_field%>checked=""<%end%>>
    <span class="custom-control-label"><%=t :passport_no_field%></span>
  </label>

  <label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" name="tour_package[en_name_field]" value="1"  <% if @tour_package.en_name_field%>checked=""<%end%>>
    <span class="custom-control-label"><%=t :en_name_field%></span>
  </label>

  <label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" name="tour_package[en_surename_field]" value="1"  <% if @tour_package.en_surename_field%>checked=""<%end%>>
    <span class="custom-control-label"><%=t :en_surename_field%></span>
  </label>

  <label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" name="tour_package[en_father_name_field]" value="1"  <% if @tour_package.en_father_name_field%>checked=""<%end%>>
    <span class="custom-control-label"><%=t :en_father_name_field	%></span>
  </label>

  <label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" name="tour_package[attachment_field]" value="1"  <% if @tour_package.attachment_field%>checked=""<%end%>>
    <span class="custom-control-label"><%=t :attachment_field	%></span>
  </label>

  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <%= f.label :attachment_message, class: "form-label" %>
        <%= f.text_area :attachment_message , class: "form-control" %>
      </div>
    </div>
  </div>
</div>

<% if @upload_ids.blank?%>
<%= hidden_field_tag :attachments, ''%>
<%else%>
<%= hidden_field_tag :attachments, @upload_ids.split(',')%>
<%end%>
  <% end %>
  <h5 style="color:#24426c;"><i class="fa fa-paperclip" style="vertical-align:-2px;"></i> <%=t :pictures%></h5>
  <hr class="mt-2 mb-4"/>
  <% if @tour_package.id == nil%>
  <%= render partial: 'uploads/upload_form', locals: {id: '0', ratio: '1/1', class_name: 'TourPackage', type:'tour_package_attachment'}%>
  <%else%>
  <%= render partial: 'uploads/upload_form', locals: {id: @tour_package.id, ratio: '1/1', class_name: 'TourPackage', type:'tour_package_attachment'}%>
  <%end%>
  <div class="card-footer text-right">
    <button id='submit-btn' type="submit" class="btn btn-primary"><%=t :submit%></button>
  </div>
  <script>
  $( "#submit-btn" ).click(function() {
    $( "#new_tour_package" ).submit();
  });
  </script>
</div>
