<div class="row row-cards">
  <div class="col-lg-3">
    <div class="row">
      <div class="col-md-6 col-lg-12">
        <div class="card">
          <div class="card-body">

          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-12">
        <div class="card">
          <div class="card-body">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="card">
      <table class="table card-table table-vcenter">
        <tbody>
          <% @tour_packages.each do |tour_package| %>
          <tr>
                        <td><%= tour_package.title %></td>
                        <td><%= tour_package.days %></td>
                        <td><%= tour_package.nights %></td>
                        <td><%= tour_package.details %></td>
                        <td><%= tour_package.agency_id %></td>
                        <td><%= tour_package.uuid %></td>
                        <td><%= link_to t(:show), tour_package %></td>
            <td><%= link_to t(:edit), edit_tour_package_path(tour_package) %></td>
            <td><%= link_to t(:destroy), tour_package, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
