<div class='row'>
  <div class="col-lg-4 order-lg-1">
  </div>
  <div class="col-lg-8 order-lg-1">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-options">
          <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
        </div>
      </div>
      <div class="card-body">
        <div class='row'>
          <div class='col-md-12 col-lg-12'>
                        <div class="form-group">
              <%= label :tour_package, :title , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @tour_package.title %></div>
            </div>
                        <div class="form-group">
              <%= label :tour_package, :days , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @tour_package.days %></div>
            </div>
                        <div class="form-group">
              <%= label :tour_package, :nights , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @tour_package.nights %></div>
            </div>
                        <div class="form-group">
              <%= label :tour_package, :details , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @tour_package.details %></div>
            </div>
                        <div class="form-group">
              <%= label :tour_package, :agency_id , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @tour_package.agency_id %></div>
            </div>
                        <div class="form-group">
              <%= label :tour_package, :uuid , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @tour_package.uuid %></div>
            </div>
                      </div>
        </div>
      </div>
    </div>
  </div>
</div>
