<div class='row'>
  <div class="col-lg-4 order-lg-1">
    <%= render partial: 'tour_packages/tour_package_block', locals: {tour_package: @tour_package}%>
  </div>
  <div class="col-lg-8 order-lg-1">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-options">
          <label class="custom-switch ml-2 mt-1" style='float: left;'>
            <input type="checkbox" name="view_<%=@tour_package.id%>" id='view_<%= @tour_package.id%>' <%if @tour_package.view_in_homepage%>checked<%end%> class="custom-switch-input">
            <span class="custom-switch-indicator"></span>
            <span class="custom-switch-description" style='font-size: 80%;'><%=t :view_in_the_first_page%></span>
          </label>
          <script>
          $('.custom-switch-input').change(function() {
            var id = $(this).attr('id').split("_")[1];
            if($(this).is(":checked")) {
              $.ajax({
                url: '/tour_packages/check/'+id,
                type: 'GET',
                dataType: 'json',
                data: {
                  segment_id: id,
                  to: 'check'
                },
                error: function() {
                  $(this).attr("checked", false);
                },
                success: function(res) {
                  $(this).attr("checked", true);
                }
              });
            } else {
              $.ajax({
                url: '/tour_packages/check/'+id,
                type: 'GET',
                dataType: 'json',
                data: {
                  segment_id: id,
                  to: 'uncheck'
                },
                error: function() {
                  $(this).attr("checked", true);
                },
                success: function(res) {
                  $(this).attr("checked", false);
                }
              });
            }
          });
          </script>
          <%= link_to new_tour_path(tour_package_id: params[:id]), class:'btn btn-secondary' do%>
          <i class="fa fa-globe"></i> <%=t :new_tour%>
          <%end%>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-outline table-vcenter ">
          <thead>
            <tr>
              <td><%=t :departure%></td>
              <td><%=t :arrival%></td>
              <td><%=t :price_range%></td>
              <td><%=t :accomodation%></td>
              <td></td>
            </tr>
          </thead>
          <% for tour in @tour_package.tours%>
          <tr>
            <td>
              <div>
                <% @jalali = JalaliDate.to_jalali(tour.start_date)%>
                <%= @jalali.year%>/<%= @jalali.month%>/<%= @jalali.day%>
              </div>
              <div class="small text-muted">
                <% @transportation = tour.transportations.where(leg: "Departure").order(:created_at).first%>
                <% if !@transportation.blank?%>
                <%=t @transportation.transportable_type.downcase.pluralize%>: <%= @transportation.transportable_type.classify.constantize.find(@transportation.transportable_id).name%>
                <%end%>
              </div>
            </td>
            <td>
              <div>
                <% @jalali = JalaliDate.to_jalali(tour.end_date)%>
                <%= @jalali.year%>/<%= @jalali.month%>/<%= @jalali.day%>
              </div>
              <div class="small text-muted">
                <% @transportation = tour.transportations.where(leg: "Arrival").order(:created_at).first%>
                <% if !@transportation.blank?%>
                <%=t @transportation.transportable_type.downcase.pluralize%>: <%= @transportation.transportable_type.classify.constantize.find(@transportation.transportable_id).name%>
                <%end%>
              </div>
            </td>
            <td>
              <%@upper_price = tour.pricings.order('value desc').limit(2).first %>
              <% if !@upper_price.blank?%>
              <strong><%= @upper_price.value%></strong>
              <%end%>
              <%@down_price = tour.pricings.order('value desc').limit(2).last %>
              <% if !@down_price.blank?%>
              -<strong><%= @down_price.value%></strong>
              <%end%>
            </td>
            <td>
              <%@accomodation1 = tour.accomodations.order('nights desc').limit(2).first %>
              <% if !@accomodation1.blank?%>
              <div class="small text-muted"><%= Hotel.find(@accomodation1.accomodable_id).name%>  <%=raw Hotel.find(@accomodation1.accomodable_id).star%></div>
              <%end%>
              <%@accomodation2 = tour.accomodations.order('nights desc').limit(2).last %>
              <% if !@accomodation1.blank? && @accomodation1 != @accomodation2%>
              <div class="small text-muted"><%= Hotel.find(@accomodation2.accomodable_id).name%> <%=raw Hotel.find(@accomodation2.accomodable_id).star%></div>
              <%end%>
            </td>
            <td class="text-right">
              <%= link_to "/reservations/new?tour_id=#{tour.id}", class:'btn btn-sm btn-success' do%>
              <i class="fe fe-plus-circle" style="vertical-align: -3px;"></i> <%=t :reservation%>
              <%end%>
              <%= link_to "/tours/#{tour.uuid}", class:'btn btn-sm btn-secondary' do%>
              <i class="fe fe-play"></i><%=t :show%>
              <%end%>
            </td>
          </tr>
          <%end%>
        </table>
      </div>
    </div>
  </div>
</div>
