<div class='row'>
  <div class="col-lg-3 ">
    <div class="list-group list-group-transparent mb-4">

      <%= link_to '/settings/sections?section=sales', id: 'sales-nav', class: "list-group-item list-group-item-action small mb-1", style:'font-weight:normal;', remote: true  do%>
      <i class="fe fe-shopping-cart" style="vertical-align:-3px;"></i> <%=t :sales_settings%>
      <%end%>


      <%if grant_access("ability_to_verify_ads", current_user)%>
      <%= link_to '/settings/sections?section=awaiting_ads', id: 'awaiting_ads-nav', class: "list-group-item list-group-item-action small mb-1", style:'font-weight:normal;', remote: true  do%>
      <i class="far fa-flag" style="vertical-align:-3px;"></i> <%=t :awaiting_advertisements%>
      <%end%>
      <%end%>

      <%if grant_access("ability_to_change_categories", current_user)%>
      <%= link_to '/settings/sections?section=categories', id: 'categories-nav', class: "list-group-item list-group-item-action small mb-1", style:'font-weight:normal;', remote: true  do%>
      <i class="far fa-folder" style="vertical-align:-3px;"></i> <%=t :categories%>
      <%end%>
      <%end%>

      <%if grant_access("ability_to_change_roles", current_user)%>
      <%= link_to '/settings/sections?section=roles', id: 'roles-nav',class: "list-group-item list-group-item-action small mb-1", style:'font-weight:normal;', remote: true do%>
      <i class="fe fe-user" style="vertical-align:-3px;"></i> <%=t :roles%>
      <%end%>
      <%end%>

      <%if grant_access("ability_to_assign_roles", current_user)%>
      <%= link_to '/settings/sections?section=assignments', id: 'assignments-nav',class: "list-group-item list-group-item-action small mb-1", style:'font-weight:normal;', remote: true do%>
      <i class="fe fe-user-check" style="vertical-align:-3px;"></i> <%=t :assignments%>
      <%end%>
      <%end%>

      <%= link_to '/settings/sections?section=airlines', id: 'airlines-nav',class: "list-group-item list-group-item-action small mb-1", style:'font-weight:normal;', remote: true do%>
      <i class="fa fa-plane" style="vertical-align:-1px;"></i> <%=t :flight_settings%>
      <%end%>

      <%= link_to '/settings/sections?section=hotels', id: 'hotels-nav',class: "list-group-item list-group-item-action small mb-1", style:'font-weight:normal;', remote: true do%>
      <i class="fa fa-bed" style="vertical-align:-1px;"></i> <%=t :hotel_settings%>
      <%end%>

      <%= link_to '/settings/sections?section=railways', id: 'railways-nav',class: "list-group-item list-group-item-action small mb-1", style:'font-weight:normal;', remote: true do%>
      <i class="fa fa-train" style="vertical-align:-1px;"></i> <%=t :railways_settings%>
      <%end%>

      <%= link_to '/settings/sections?section=price_types', id: 'price_types-nav',class: "list-group-item list-group-item-action small mb-1", style:'font-weight:normal;', remote: true do%>
      <i class="fa fa-money" style="vertical-align:-1px;"></i> <%=t :price_types_settings%>
      <%end%>

      <%= link_to '/settings/sections?section=slides', id: 'slides-nav',class: "list-group-item list-group-item-action small mb-1", style:'font-weight:normal;', remote: true do%>
      <i class="fe fe-fast-forward" style="vertical-align:-3px;"></i> <%=t :slider_settings%>
      <%end%>

    </div>
  </div>
  <div class="col-md-9 order-lg-1">
    <div class="card">
      <div id='settings-detail'></div>
      <div class='mb-4'></div>
    </div>
  </div>
</div>
