<div class='row'>
  <div class="col-lg-3 ">
    <div class="list-group list-group-transparent mb-4">

      <%= link_to '/settings/section?section=sales', id: 'sales-nav', class: "list-group-item list-group-item-action small mb-1", style:'font-weight:normal;', remote: true  do%>
      <i class="fe fe-shopping-cart" style="vertical-align:-3px;"></i> <%=t :sales_settings%>
      <%end%>

      <%= link_to '/settings/sections?section=airlines', id: 'airlines-nav',class: "list-group-item list-group-item-action small mb-1", style:'font-weight:normal;', remote: true do%>
      <i class="fa fa-plane" style="vertical-align:-1px;"></i> <%=t :flight_settings%>
      <%end%>

      <%= link_to '/settings/sections?section=hotels', id: 'hotels-nav',class: "list-group-item list-group-item-action small mb-1", style:'font-weight:normal;', remote: true do%>
      <i class="fa fa-bed" style="vertical-align:-1px;"></i> <%=t :hotel_settings%>
      <%end%>

      <%= link_to '/settings/sections?section=railways', id: 'railways-nav',class: "list-group-item list-group-item-action small mb-1", style:'font-weight:normal;', remote: true do%>
      <i class="fa fa-train" style="vertical-align:-1px;"></i> <%=t :railways_settings%>
      <%end%>

      <%= link_to '/settings/sections?section=price_types', id: 'price_types-nav',class: "list-group-item list-group-item-action small mb-1", style:'font-weight:normal;', remote: true do%>
      <i class="fa fa-money" style="vertical-align:-1px;"></i> <%=t :price_types_settings%>
      <%end%>

      <%= link_to '/settings/sections?section=slides', id: 'slides-nav',class: "list-group-item list-group-item-action small mb-1", style:'font-weight:normal;', remote: true do%>
      <i class="fe fe-fast-forward" style="vertical-align:-3px;"></i> <%=t :slider_settings%>
      <%end%>

  </div>
  </div>
  <div class="col-md-9 order-lg-1">
    <div class="card">
      <div class="card-body">
        <div id='settings-detail'></div>
        <div class='mb-4'></div>
      </div>
    </div>
  </div>
</div>
