<div class='row'>
  <div class="col-lg-4 order-lg-1">
  </div>
  <div class="col-lg-8 order-lg-1">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-options">
          <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
        </div>
      </div>
      <div class="card-body">
        <div class='row'>
          <div class='col-md-12 col-lg-12'>
                        <div class="form-group">
              <%= label :agency, :name , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @agency.name %></div>
            </div>
                        <div class="form-group">
              <%= label :agency, :tel , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @agency.tel %></div>
            </div>
                        <div class="form-group">
              <%= label :agency, :telegram_channel , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @agency.telegram_channel %></div>
            </div>
                        <div class="form-group">
              <%= label :agency, :instagram_page , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @agency.instagram_page %></div>
            </div>
                        <div class="form-group">
              <%= label :agency, :address , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @agency.address %></div>
            </div>
                        <div class="form-group">
              <%= label :agency, :uuid , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @agency.uuid %></div>
            </div>
                        <div class="form-group">
              <%= label :agency, :user_id , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @agency.user_id %></div>
            </div>
                        <div class="form-group">
              <%= label :agency, :subdomain , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @agency.subdomain %></div>
            </div>
                        <div class="form-group">
              <%= label :agency, :mobile , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @agency.mobile %></div>
            </div>
                        <div class="form-group">
              <%= label :agency, :fax , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @agency.fax %></div>
            </div>
                        <div class="form-group">
              <%= label :agency, :email , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @agency.email %></div>
            </div>
                        <div class="form-group">
              <%= label :agency, :about_us , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @agency.about_us %></div>
            </div>
                      </div>
        </div>
      </div>
    </div>
  </div>
</div>
