<div class="card">
<%= form_for(@tour) do |f| %>
<div class="card-header">
  <h3 class="card-title"><%=t :tour_form %></h3>
</div>
<% if @tour.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

  <ul>
    <% @tour.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="card-body">

  <h5  style="color:#24426c;"><i class="fa fa-edit" style="vertical-align:-2px;"></i> <%=t :tour_details%></h5>
  <hr class="mt-2 mb-2"/>
  <div class="row">
    <div class="col-md-7">
      <div class="form-group">
        <%= f.label :details, class: "form-label" %>
        <%= f.text_area :details , class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :capacity, class: "form-label" %>
        <%= f.number_field :capacity , class: "form-control" %>
      </div>
    </div>
  </div>

  <h5  style="color:#24426c;"><i class="fa fa-calendar" style="vertical-align:-2px;"></i> <%=t :tour_dates%></h5>
  <hr class="mt-2 mb-2"/>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :start_date, class: "form-label" %>
        <% if @tour.id == nil%>
        <% @now = JalaliDate.to_jalali(Time.now)%>
        <%else%>
        <% @now = JalaliDate.to_jalali(@tour.start_date)%>
        <%end%>
        <div class="row gutters-xs">
          <div class='col-4'>
            <%= select_tag  "start_date_dd", options_for_select(1..31, @now.day), {class: "form-control"} %>
          </div>
          <div class='col-4'>
            <%= select_tag "start_date_mm", options_for_select(1..12, @now.month), {class: "form-control"} %>
          </div>
          <div class='col-4'>
            <%= select_year(@now.year, {:start_year => 1360, :end_year => 1400}, {class: "form-control", :name =>"start_date_yyyy"}) %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <%= f.label :end_date, class: "form-label" %>
        <% if @tour.id == nil%>
        <% @now = JalaliDate.to_jalali(Time.now)%>
        <%else%>
        <% @now = JalaliDate.to_jalali(@tour.end_date)%>
        <%end%>
        <div class="row gutters-xs">
          <div class='col-4'>
            <%= select_tag  "end_date_dd", options_for_select(1..31, @now.day), {class: "form-control"} %>
          </div>
          <div class='col-4'>
            <%= select_tag "end_date_mm", options_for_select(1..12, @now.month), {class: "form-control"} %>
          </div>
          <div class='col-4'>
            <%= select_year(@now.year, {:start_year => @now.year, :end_year => 1410}, {class: "form-control", :name =>"end_date_yyyy"}) %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h5 style="color:#24426c;"><i class="fa fa-money" style="vertical-align:-2px;"></i> <%=t :prices%></h5>
  <hr class="mt-2 mb-2"/>
  <% for price_type in PriceType.all%>
  <% @pricing = Pricing.where(price_type_id: price_type.id, tour_id: @tour.id).first%>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label class="form-label"><%= price_type.title%></label>
        <% if @pricing.blank?%>
        <%= number_field_tag "price_#{price_type.id}", nil,class: "form-control" %>
        <%else%>
        <%= number_field_tag "price_#{price_type.id}", @pricing.value,class: "form-control" %>
        <%end%>
      </div>
    </div>
  </div>
  <%end%>

  <h5 style="color:#24426c;"><i class="fa fa-bed" style="vertical-align:-2px;"></i> <%=t :accomodation%></h5>
  <hr class="mt-2 mb-4"/>
  <div class="row text-center small">
    <div class="col-md-3 mb-1">
      <%=t :name%>
    </div>
    <div class="col-md-2 mb-1">
      <%=t :duration%>
    </div>
  </div>
  <% 3.times do |i|%>
  <% @accomodation = Accomodation.where(tour_id: @tour.id).limit(1).offset(i).first%>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <% if @accomodation.blank?%>
        <%= select_tag "accomodation_type_#{i}", options_for_select(Hotel.all.collect{ |u| [u.name, u.id] }), {include_blank: true, class: "form-control"} %>
        <%else%>
        <%  @hotel = Hotel.find(@accomodation.accomodable_id)%>
        <%= select_tag "accomodation_type_#{i}", options_for_select(Hotel.all.collect{ |u| [u.name, u.id] }, @hotel.id), {include_blank: true, class: "form-control"} %>
        <%end%>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <% if @accomodation.blank?%>
        <%= number_field_tag "duration_#{i}", nil,class: "form-control" %>
        <%else%>
        <%= number_field_tag "duration_#{i}", @accomodation.nights,class: "form-control" %>
        <%end%>
      </div>
    </div>
  </div>
  <%end%>

  <h5 style="color:#24426c;"><i class="fa fa-bus" style="vertical-align:-2px;"></i> <%=t :transportaton%></h5>
  <hr class="mt-2 mb-4"/>
  <div class="row text-center small">
    <div class="col-md-2 mb-1">
      <%=t :type%>
    </div>
    <div class="col-md-2 mb-1">
      <%=t :company%>
    </div>
    <div class="col-md-2 mb-1">
      <%=t :transportation_type%>
    </div>
    <div class="col-md-2 mb-1">
      <%=t :transportation_time%>
    </div>
    <div class="col-md-2 mb-1">
      <%=t :details%>
    </div>
  </div>
  <% 3.times do |i|%>
  <% @transportation = Transportation.where(tour_id: @tour.id).limit(1).offset(i).first%>
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <%  if @transportation.blank?%>
        <%= select_tag "carrier_#{i}", options_for_select(transportations), {class: "form-control transport" } %>
        <%else%>
        <%= select_tag "carrier_#{i}", options_for_select(transportations, @transportation.transportable_type.downcase.pluralize), {class: "form-control transport" } %>
        <%end%>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%  if @transportation.blank?%>
        <%= select_tag "transportation_id_#{i}", options_for_select(Airline.all.collect{ |u| [u.name, u.id] }), {include_blank: true, class: "form-control"} %>
        <% else%>
        <%= select_tag "transportation_id_#{i}", options_for_select(@transportation.transportable_type.classify.constantize.all.collect{ |u| [u.name, u.id] }, @transportation.transportable_id), {include_blank: true, class: "form-control"} %>
        <%end%>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%  if @transportation.blank?%>
        <%= select_tag "leg_#{i}", options_for_select(transportation_types), class: "form-control" %>
        <%else%>
        <%= select_tag "leg_#{i}", options_for_select(transportation_types, @transportation.leg), class: "form-control" %>
        <%end%>
      </div>
    </div>
    <div class="col-md-2 text-center" style="direction:ltr;">

      <div class="form-group mt-1">
        <%  if @transportation.blank?%>
          <%= select_time(Time.now, {:prefix => "time_#{i}",time_separator: ':'},{}) %>
        <%else%>
          <%= select_time(@transportation.transport_time, {:prefix => "time_#{i}",time_separator: ':'},{}) %>
        <%end%>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= text_field_tag :details, nil , class: "form-control" %>
      </div>
    </div>
  </div>
  <%end%>
  <script>
  $('.transport').change(function() {
    var id = $(this).attr('id').split('_')[1]
    var $el = $("#transportation_id_"+id);
    $el.empty();
    $.get( "/"+$(this).val()+"/options", function( data ) {
      for (var i = 0; i < data.length; i++) {
        $el.append($("<option></option>")
        .attr("value", data[i]['id']).text(data[i]['name']));
      }
    });
  });
  </script>


  <%= hidden_field_tag :tp, params[:tour_package_id] %>
  <%= hidden_field_tag :id, params[:id] %>
  <%= hidden_field_tag :attachments, ''%>
  <% end %>
  <h5 style="color:#24426c;"><i class="fa fa-paperclip" style="vertical-align:-2px;"></i> <%=t :pictures%></h5>
  <hr class="mt-2 mb-4"/>
  <% if @tour.id == nil%>
    <%= render partial: 'uploads/upload_form', locals: {id: '0', ratio: '4/3', class_name: 'Tour', type:'tour_pictures'}%>
  <%else%>
    <%= render partial: 'uploads/upload_form', locals: {id: @tour.id, ratio: '4/3', class_name: 'Tour', type:'tour_pictures'}%>
  <%end%>
  <div class="card-footer text-right">
    <button id='submit-btn' type="submit" class="btn btn-primary"><%=t :submit%></button>
  </div>
  <script>
  $( "#submit-btn" ).click(function() {
    $( "#new_passenger" ).submit();
  });
  </script>
</div>
