<div class='row'>
  <div class="col-lg-4">
    <div class="card">
        <div id="carousel-indicators" class="carousel slide" data-ride="carousel">
          <% @uploads = Upload.where(uploadable_type: 'Tour', uploadable_id: @tour.id, attachment_type: 'tour_pictures')%>
          <ol class="carousel-indicators">
            <%@i = 0%>
            <% for upload in @uploads%>
            <li data-target="#carousel-indicators" data-slide-to="<%=@i%>" class="<% if upload.id == @uploads.first.id%>active<%end%>"></li>
            <% @i += 1%>
            <%end%>
          </ol>
          <div class="carousel-inner">

            <% for upload in @uploads%>
            <div class="carousel-item <% if upload.id == @uploads.first.id%>active<%end%>">
              <img class="d-block w-100" alt="" src="<%= upload.attachment(:medium)%>" data-holder-rendered="true">
            </div>
            <%end%>
          </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 order-lg-1">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-options">
          <%= link_to "/reservations/new?tour_id=#{@tour.id}", class:'btn btn-success ml-2' do%>
          <i class="fe fe-plus-circle" style="vertical-align: -3px;"></i> <%=t :reservation%>
          <%end%>
          <a href="/tours/<%=@tour.uuid%>/edit" class='btn btn-secondary'><i class="fe fe-edit" style="vertical-align:-3px;"></i> <%=t :edit%></a>
        </div>
      </div>
      <div class="card-body">
        <%= render partial: 'tours/dates', locals:{tour: @tour}%>
        <%= render partial: 'tours/pricing', locals:{tour: @tour}%>
        <%= render partial: 'tours/accomodations', locals:{tour: @tour}%>
        <%= render partial: 'tours/transportations', locals:{tour: @tour}%>
      </div>
    </div>
  </div>
</div>
