<div class='row'>
  <div class="col-lg-8 order-lg-1">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-options">
        <a href="/tours/<%=@tour.uuid%>/edit" class='btn btn-secondary'><i class="fe fe-edit" style="vertical-align:-3px;"></i> <%=t :edit%></a>
        </div>
      </div>
      <div class="card-body">
        <%= render partial: 'tours/dates', locals:{tour: @tour}%>
        <%= render partial: 'tours/pricing', locals:{tour: @tour}%>
        <%= render partial: 'tours/accomodations', locals:{tour: @tour}%>
        <%= render partial: 'tours/transportations', locals:{tour: @tour}%>
      </div>
    </div>
  </div>
</div>
