<div class='row'>
  <div class="col-lg-8 order-lg-1">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-options">
        <a href="/tours/<%=@tour.uuid%>/edit" class='btn btn-secondary'><i class="fe fe-edit" style="vertical-align:-3px;"></i> <%=t :edit%></a>
        </div>
      </div>
      <div class="card-body">
        <div class='row'>
          <h5  style="color:#24426c;"><i class="fa fa-calendar" style="vertical-align:-2px;"></i> <%=t :tour_dates%></h5>
          <hr class="mt-2 mb-2"/>
          <div class='col-md-12 col-lg-12'>
            <div class="form-group">
              <%= label :tour, :start_date , class: "form-label", style: 'color: #7795c1;'%>
              <div class="form-control-plaintext">
                <span>
                  <% @jalali = JalaliDate.to_jalali(@tour.start_date)%>
                  <%= @jalali.year%>/<%= @jalali.month%>/<%= @jalali.day%>
                </span>
              </div>
            </div>
            <div class="form-group">
              <%= label :tour, :end_date , class: "form-label", style: 'color: #7795c1;'%>
              <div class="form-control-plaintext">
                <span>
                  <% @jalali = JalaliDate.to_jalali(@tour.end_date)%>
                  <%= @jalali.year%>/<%= @jalali.month%>/<%= @jalali.day%>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class='row'>
          <h5 style="color:#24426c;"><i class="fa fa-money" style="vertical-align:-2px;"></i> <%=t :prices%></h5>
          <div class='col-md-12 col-lg-12'>
            <div class="table-responsive">
              <table class="table card-table table-striped table-vcenter">
                <tbody style='border: 1px solid #80808057;'>
                  <% for pricing in @tour.pricings%>
                  <tr>
                    <td><%= pricing.price_type.title%></td>
                    <td><%= pricing.value%></td>
                  </tr>
                  <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class='row mt-4'>
          <h5 style="color:#24426c;"><i class="fa fa-bed" style="vertical-align:-2px;"></i> <%=t :accomodation%></h5>
          <div class='col-md-12 col-lg-12'>
            <div class="table-responsive">
              <table class="table card-table table-striped table-vcenter">
                <thead style='border: 1px solid #80808057;'>
                  <tr>
                    <td><%=t :hotel_name%></td>
                    <td><%=t :stars%></td>
                    <td><%=t :city%></td>
                  </tr>
                </thead>
                <tbody style='border: 1px solid #80808057;'>
                  <% for hotel in @tour.hotels%>
                  <tr>
                    <td><%= hotel.name%></td>
                    <td><%= hotel.stars%></td>
                    <td><%= hotel.city%></td>
                  </tr>
                  <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class='row mt-4'>
          <h5 style="color:#24426c;"><i class="fa fa-plane" style="vertical-align:-2px;"></i> <%=t :transportaton%></h5>
          <div class='col-md-12 col-lg-12'>
            <div class="table-responsive">
              <table class="table card-table table-striped table-vcenter">
                <thead style='border: 1px solid #80808057;'>
                  <tr>
                    <td><%=t :type%></td>
                    <td><%=t :company%></td>
                    <td><%=t :transportation_type%></td>
                  </tr>
                </thead>
                <tbody style='border: 1px solid #80808057;'>
                  <% for transportation in @tour.transportations%>
                  <tr>
                    <td><%=t transportation.transportable_type.downcase%></td>
                    <td><%= transportation.transportable_type.classify.constantize.find(transportation.transportable_id).name%></td>
                    <td><%=t transportation.leg.downcase%></td>
                  </tr>
                  <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
