<div class='row'>
  <div class="col-lg-4">
    <div class="card">
      <div id="carousel-tour" class="carousel slide" data-ride="carousel">
        <% @uploads = Upload.where(uploadable_type: 'Tour', uploadable_id: @tour.id, attachment_type: 'tour_pictures')%>
        <ol class="carousel-indicators">
          <%@i = 0%>
          <% for upload in @uploads%>
          <li data-target="#carousel-tour" data-slide-to="<%=@i%>" class="<% if upload.id == @uploads.first.id%>active<%end%>"></li>
          <% @i += 1%>
          <%end%>
        </ol>
        <div class="carousel-inner">

          <% for upload in @uploads%>
          <div class="carousel-item <% if upload.id == @uploads.first.id%>active<%end%>">
            <img class="d-block w-100" alt="" src="<%= upload.attachment(:medium)%>" data-holder-rendered="true">
          </div>
          <%end%>
        </div>
      </div>
    </div>

    <div class="card">
      <% @uploads = Upload.where('uploadable_type = ? AND uploadable_id IN (?) AND attachment_type = ?', 'Hotel', @tour.hotels.pluck(:uuid), 'hotel_pictures')%>
      <div id="carousel-hotels" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% for upload in @uploads%>
          <div class="carousel-item <% if upload.id == @uploads.first.id%>active<%end%>">
            <img class="d-block w-100" alt="" src="<%= upload.attachment(:medium)%>" data-holder-rendered="true">
            <div class="carousel-item-background d-none d-md-block"></div>
            <div class="carousel-caption d-none d-md-block">
              <h3><%= upload.hotel.name%></h3>
              <p><%=raw upload.hotel.star%></p>
            </div>
          </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 order-lg-1">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-options">
          <%= link_to "/reservations/new?tour_id=#{@tour.id}", class:'btn btn-success ml-2' do%>
          <i class="fe fe-plus-circle" style="vertical-align: -3px;"></i> <%=t :reservation%>
          <%end%>
          <a href="/tours/<%=@tour.uuid%>/edit" class='btn btn-secondary'><i class="fe fe-edit" style="vertical-align:-3px;"></i> <%=t :edit%></a>
        </div>
      </div>
      <div class="card-body">
        <div class='row'>
          <h5  style="color:#24426c;"><i class="fa fa-edit" style="vertical-align:-2px;"></i> <%=t :tour_details%></h5>
          <hr class="mt-2 mb-2"/>
          <div class='col-md-12 col-lg-12'>
            <div class="form-group">
              <div class="form-control-plaintext">
                <%= @tour.details%>
              </div>
            </div>
          </div>
        </div>
        <%= render partial: 'tours/dates', locals:{tour: @tour}%>
        <%= render partial: 'tours/pricing', locals:{tour: @tour}%>
        <%= render partial: 'tours/accomodations', locals:{tour: @tour}%>
        <%= render partial: 'tours/transportations', locals:{tour: @tour}%>
      </div>
    </div>
  </div>
</div>
