<div id="passenger-form" class="card">
  <% if @tour.remained_capacity > 0%>
  <%= form_for(passenger, remote: true) do |f| %>
  <div class="card-header">
    <%=t :passenger_info%>
  </div>
  <div class="card-body">
    <% if @tour.remained_capacity <5 %>
    <div class="alert alert-warning" role="alert">
      <%=t :remained_capacity%> <b><%= @tour.remained_capacity%></b> <%=t :person%>
    </div>
    <%end%>
    <div class="row">



      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :name, class: "form-label" %>
          <%= f.text_field :name , class: "form-control", required: "true" %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :surename, class: "form-label" %>
          <%= f.text_field :surename , class: "form-control" , required: "true" %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :sex, class: "form-label" %>
          <%= f.text_field :sex , class: "form-control", required: "true"  %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :ssn, class: "form-label" %>
          <%= f.text_field :ssn , class: "form-control", required: "true"  %>
        </div>
      </div>

      <% if @tour.tour_package.father_name_field%>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :father_name, class: "form-label" %>
          <%= f.text_field :father_name , class: "form-control", required: "true"  %>
        </div>
      </div>
      <%end%>


      <% if @tour.tour_package.birthdate_field%>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :birthdate, class: "form-label" %>
          <%= f.hidden_field :birthdate, value: '' %>
          <%= text_field_tag :birthdate, nil ,{class: "form-control",style: 'direction:ltr;'} %>
        </div>
      </div>
      <script>
      $('#birthdate').persianDatepicker({
        observer: true,
        format: 'YYYY/MM/DD',
        altField: '#passenger_birthdate'
      });
      </script>
      <%end%>


      <% if @tour.tour_package.place_of_birth_field%>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :place_of_birth, class: "form-label" %>
          <%= f.text_field :place_of_birth , class: "form-control", required: "true"  %>
        </div>
      </div>
      <%end%>

      <% if @tour.tour_package.passport_no_field%>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :passport_no, class: "form-label" %>
          <%= f.text_field :passport_no , class: "form-control", required: "true"  %>
        </div>
      </div>
      <%end%>

      <% if @tour.tour_package.en_name_field%>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :en_name, class: "form-label" %>
          <%= f.text_field :en_name , class: "form-control", required: "true"  %>
        </div>
      </div>
      <%end%>

      <% if @tour.tour_package.en_surename_field%>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :en_surename, class: "form-label" %>
          <%= f.text_field :en_surename , class: "form-control", required: "true"  %>
        </div>
      </div>
      <%end%>

      <% if @tour.tour_package.en_father_name_field%>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :en_fathername, class: "form-label" %>
          <%= f.text_field :en_fathername , class: "form-control", required: "true"  %>
        </div>
      </div>
      <%end%>
    </div>
    <%= hidden_field_tag :tour_id, @tour.id%>
    <%= hidden_field_tag :attachments, ''%>
    <% end %>
    <% if @tour.tour_package.attachment_field%>
    <b><%= @tour.tour_package.attachment_message%></p>
      <%= render partial: 'uploads/upload_form', locals: {id: '0', ratio: '3/4' ,class_name: 'Passenger', type:'passenger_attachment'}%>
      <%end%>
      <div class="card-footer text-right">
        <button id='submit-btn' type="button" class="btn btn-primary"><%=t :submit%></button>
      </div>
      <script>
      $( "#submit-btn" ).one('click', function(event) {
        var form = $("#new_passenger");
        if (form[0].checkValidity() === false) {
          event.preventDefault()
          event.stopPropagation()
        }
        form.addClass('was-validated');
        $( "#new_passenger" ).submit();
      });
      </script>
      <%else%>
        <div class="card-body">
          <div class="alert alert-danger" role="alert">
            <%=t :no_capacity%>
          </div>
        </div>
      <%end%>
    </div>
