<div class='row'>
  <div class="col-lg-4 order-lg-1">
  </div>
  <div class="col-lg-8 order-lg-1">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-options">
          <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
        </div>
      </div>
      <div class="card-body">
        <div class='row'>
          <div class='col-md-12 col-lg-12'>
                        <div class="form-group">
              <%= label :passenger, :name , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @passenger.name %></div>
            </div>
                        <div class="form-group">
              <%= label :passenger, :surename , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @passenger.surename %></div>
            </div>
                        <div class="form-group">
              <%= label :passenger, :business_id , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @passenger.business_id %></div>
            </div>
                        <div class="form-group">
              <%= label :passenger, :sex , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @passenger.sex %></div>
            </div>
                        <div class="form-group">
              <%= label :passenger, :tel , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @passenger.tel %></div>
            </div>
                        <div class="form-group">
              <%= label :passenger, :birthdate , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @passenger.birthdate %></div>
            </div>
                        <div class="form-group">
              <%= label :passenger, :ssn , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @passenger.ssn %></div>
            </div>
                        <div class="form-group">
              <%= label :passenger, :place_of_birth , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @passenger.place_of_birth %></div>
            </div>
                        <div class="form-group">
              <%= label :passenger, :passport_no , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @passenger.passport_no %></div>
            </div>
                        <div class="form-group">
              <%= label :passenger, :nation_id , class: "form-label", style: 'color: #7795c1;'%>              <div class="form-control-plaintext"><%= @passenger.nation_id %></div>
            </div>
                      </div>
        </div>
      </div>
    </div>
  </div>
</div>
