<div id='hotels-list'>
  <table class="table table-hover table-outline">
    <thead>
      <tr>
        <td><%=t :hotel_name%></td>
        <td><%=t :stars%></td>
        <td><%=t :city%></td>
        <td><%=t :number_of_tours%></td>
      </tr>
    </thead>
    <%for hotel in Hotel.all%>
    <tr>
      <td><%= hotel.name%></td>
      <td><%= hotel.stars%></td>
      <td><%= hotel.city%></td>
      <td>
        <div class="tag tag-dark" style='vertical-align: 6px;'>
          <%= hotel.tours.count %>
          <span class="tag-addon tag-success"><i class="fe fe-box" style="vertical-align: -3px;"></i></span>
        </div>
      </td>
    </tr>
    <%end%>
  </table>
</div>
